@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

.criteria-container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8fafd;
font-family: 'Ubuntu', sans-serif;
}

.criteria-title {
  color: #0B4184;
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.criteria-card {
  background: #ffffff;
  border: 1px solid #e0e6ed;
  border-radius: 12px;
  padding: 30px 40px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%; 
  display: flex;
  align-items: flex-start;
  gap: 15px;
  color: #333;
}

.criteria-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.criteria-item {
  display: flex;
  align-items: flex-start; 
  gap: 15px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.4;
}

.criteria-item:last-child {
  margin-bottom: 0;
}


.check-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px; 
  height: 24px;
  flex-shrink: 0;  
  margin-top: 2px; 
}

.criteria-check-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}