html, body {
  width: 100%;
  overflow-x: hidden;
}

.landing-page {
  max-width: 100%;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
