.login-container {
    width: 100%;
  height: auto; 
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.login-card {    
  position: relative;
  background: linear-gradient(135deg, #ffffff 2%, #2d66ad 50%, #0C4182 85%);
  width: 100%;
  height: 620px;
  margin: -150px auto 0; 
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  text-align: center;
  color: #fff;
  padding: 170px 40px 60px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
@media (max-width:768px) {
  .login-card {   
  
  border-radius: 0%;
 
}
  
}

.welcome-text {
  font-family: "Rufina";
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 10px; 
  margin-bottom: 70px;
  margin-top: 0;
}

.form-group1 label {
    display: block;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  margin-bottom: 6px;
  width: 300px; 
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.custom-input1 {             
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  width: 300px;
  height: 40px; 
  max-width: 90%;
  margin: 0 auto; 
  display: block;
}

.login-btn {
  font-family: "Inter";
  width: 155px;
  max-width: 90%; 
  border-radius: 25px;
  padding: 7px;
  background-color: #555;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  margin-top: 20px;
}

.icon-container {
  margin-top: 8px; 
  background-color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 30px;
  color: #333;
}


.acm-logo {
  width: 120px;
  height: 70px;
  margin-top: 70px !important;
  margin-bottom: 100px !important;
}

