/* Animation */
.custom-navbar-animate {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInNavbar 0.8s ease-out forwards;
}

@keyframes fadeInNavbar {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.custom-navbar {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
   background-color: #2d66ad !important;
}

.custom-navbar-brand {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
   
}
.custom-navbar-brand:hover {
  transform: scale(1.05);
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.custom-navbar-title {
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.custom-navbar-title:hover {
  color: #f5f5f5;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
}

.custom-navbar-collapse {
  background-color: #2d66ad !important;
  padding: 1rem;
  border-radius: 0 0 8px 8px;
}

.custom-nav-link {
  position: relative;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.custom-nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.custom-nav-link:hover::after {
  width: 100%;
}
.custom-nav-link:hover {
  color: #f8f9fa;
}

.custom-login-link1 {
  color: #2d66ad !important;
  background-color: #fff;
  border-radius: 999px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}
.custom-login-link1:hover {
  background-color: #2d66ad;
  color: #fff !important;
  box-shadow: 0 0 15px rgba(30, 79, 145, 0.9);
  transform: scale(1.08);
  border:2px solid #fff;
}

.custom-dashboard-link1 {
  color:  #2d66ad !important;
  background-color: #ffffff;
  border-radius: 999px;

  transition: all 0.3s ease;
}
.custom-dashboard-link1:hover {
  background-color: #2d66ad !important;
  color: #fff !important;
  border:2px solid #fff;
 
  transform: scale(1.08);
}

@media (max-width: 375px) {
  .custom-navbar-title {
    font-size: 1rem;
    max-width: 100px;
  }
  .custom-navbar-brand img {
    height: 32px;
  }
}
@media (max-width: 1024px) {
  .custom-navbar-title {
    display: none;
  }
  .custom-navbar-brand img {
    height: 36px;
  }
}
@media (max-width: 991px) {
  .custom-navbar-collapse .custom-nav-link {
    margin-bottom: 0.75rem;
  }
  .custom-navbar-collapse .custom-nav-link:last-child {
    margin-bottom: 0;

  }
  .custom-dashboard-link1,
  .custom-login-link1 {
    display: block;        
    margin-bottom: 0.75rem;
  }
}
