@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
.blog-content {
  font-size: 1.1rem;
  font-family:"Source Serif 4", serif;
  line-height: 1.8;
  
  color: #000000;
  margin-bottom: 1.5rem;
  margin-left:5%;
  margin-right:10%;
}
.blog-title-text{
  font-size:2rem;
  line-height:1.2;
}
@media(max-width:576px){
    .blog-content{
        margin:0 0px;
    }
    
    
}
.quote{
  font-style:italic;
  background:#f1f1f1;
  border-radius:3px;

 padding:5px;
  display:flex;
  margin:1% 5%;
}
.blog-content h4{
  font-weight:bolder ;
}


body.dark-mode .blog-content {
  color: #f1f1f1;
}

.blog-title-text {
  color: #181a2a;
}

body.dark-mode .blog-title-text {
  color: #ffffff;
}
body.dark-mode .quote {
  color: black;
}
