@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

.event-content {
  font-size: 1.1rem;
  font-family: "Source Serif 4", serif;
  line-height: 1.8;
  color: #000;
  margin-bottom: 1.5rem;
  margin-left: 5%;
  margin-right: 10%;
  text-align: justify;
}

.event-title-text {
  font-size: 2.2rem;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  color: #181a2a;
}

.event-meta {
  text-align: center;
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 20px;
}

.event-hero {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

/* Gallery */
.event-gallery {
  margin-top: 40px;
}

.gallery-title {
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  color: #181a2a;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 15px;
}

.gallery-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}


@media(max-width: 576px) {
  .event-content {
    margin: 0 10px;
  }
}

body.dark-mode .event-content {
  color: #f1f1f1;
}
body.dark-mode .event-title-text {
  color: #fff;
}
